---
title: Diário Aleatório
---

<section class="content">
	<img src="" class="bg">
	<!-- White interface -->
	<div class="white logo">
		<img src="images/plus_white.png">
		<p class="about">o diário aleatório é uma coleção de dias estranhos</p>
	</div>
	<img class="white refresh" src="images/refresh_white.png">
	<!-- Black interface -->
	<div class="black logo">
		<img src="images/plus_black.png">
		<p class="about">o diário aleatório é uma coleção de dias estranhos</p>
	</div>
	<img class="black refresh" src="images/refresh_black.png">

	<div class="fb-like" data-href="http://diarioaleatorio.co" data-send="false" data-width="450" data-show-faces="true"></div>
</section>